doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./css/style.css")
        title Document
        body
            header 
                .bunner 
                    img(src="./img/Снимок экрана 2023-12-04 101620.png", alt="")
                    img.logo(src="./img/Ресурс 3 2.png", alt="")
            .container
                .main-menu
                    ul 
                        li 
                            a(href="") Главная
                        li 
                            a(href="") Услуги
                        li 
                            a(href="") Контакты
                        li 
                            a(href="") Офис
                        li 
                            a(href="") Партнеры
                        li 
                            a(href="") О компании
            .about_company_banner
                img(src="./img/Group 80.png", alt="")
                .text_on_about_company_banner
                    p Добро пожаловать на сайт нашего завода по <br> производству металлобетонных изделий! Мы рады <br> представить вам нашу продукцию и услуги, которые <br> мы предоставляем на протяжении многих лет. <br> <br> В наши услуги входит доставка по всем регионам <br> Росси.
                .button_on_about_company_banner
                    button Прейтии к продукции
                    button Узнать подробнее
            .text 
                h2 Продукция